.spin-3d {
    animation: spin3D 12s infinite linear;
}

@keyframes spin3D{
    from {
        transform: rotateY(0);
    }
    to{
        transform: rotateY(360deg);
    }
}

.spin-2d {
    transform-box: fill-box;
    transform-origin: center center;
    animation: spin2D 10s infinite linear;
}

@keyframes spin2D {
    from {
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(360deg);
    }
}

.svg-line-draw {
    animation: svgLine 4s infinite ease-in-out;
}

@keyframes svgLine {
    to {
        stroke-dashoffset: 0;
    }
}

@layer base {
    html {
      font-family: "Helvetica", system-ui, sans-serif;
    }
  }

@layer components{
    .fz-h1{
        @apply text-5xl lg:text-9xl font-serif;
    }
    .fz-h2{
        @apply text-4xl lg:text-8xl font-sans;
    }
    .fz-h3{
        @apply text-4xl lg:text-6xl font-sans;
    }
    .fz-h4{
        @apply text-3xl lg:text-7xl font-serif;
    }
    .fz-body-small{
        @apply text-base lg:text-lg font-serif;
    }
    .fz-utility{
        @apply text-sm lg:text-lg;
    }
}
